{
    "builderLimit": {
        "maxBuildTime": "15m",
        "cpusetCpus": "0-3",
        "memory": "4096m"
    },
    "packages": [
        {
            "packageName": "anki-bin"
        },
        {
            "packageName": "osu-lazer-bin",
            "resolveDependenciesAs": {
                "libgl": "libglvnd"
            }
        },
        {
            "packageName": "spotify",
            "runCommandsBeforeBuild": [
                "curl -sS https://download.spotify.com/debian/pubkey_6224F9941A8AA6D1.gpg  | gpg --import -"
            ]
        }
    ]
}